* {
    text-align: center;
}

h1 > *,
h2 > *,
h3 > *,
h4 > *,
h5 > * {
    font-size: inherit;
}

button { cursor: pointer;}

ul>li>h4 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.d-none {
    display: none !important;
}

.modal {
    position: sticky;
    width: calc(100vw - 25px);
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: hsl(0, 0%, 95%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.export {
    text-align: end;
}